.founder-main {
  padding: 4rem 7%;
  height: auto;
  width: 100%;
  background-color: var(--mainclr);
  max-width: 2000px;
  /* border: solid red 1px; */
}

.founder-title {
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 75px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: 600;
}

.founder-full {
  /* border: solid 1px blue; */
  display: flex;
  width: 100%;
  height: auto;
}

.founder-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid purple 1px; */
  padding: 40px;
width: 100%;
}

.founder-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: solid green 1px; */
}

.founder-left-inner  {
  color: black;
}

.founder-left-inner h2 {
  font-size: 50px;
}

.founder-right img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images look good */
}

@media  (max-width: 1200px) {
  .founder-full {
    flex-direction: column;
  }
}

/* .our-instructor {
  padding: 4rem 7%;
  background-color: var(--mainclr);
  max-width: 1800px;

}
.our-instructor h1 {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}
.main-instructor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.inner-instructor {
  flex: 1 1 45rem;
}
.inner-instructor img {
  width: 100%;

}
.inner-content-instructor {
  width: 80%;
  margin: 0 auto;
}
.inner-content-instructor h2 {
  font-size: 60px;
  color: black;
}
.inner-content-instructor p {
  color: black;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 20px;
}
.inner-content-instructor a {
  color: black;
  background: var(--mainclr);
  padding: 1rem 3rem;
  border-radius: 15px;
  font-size: 1.5rem;
}

 */
