.our-prices{
    padding: 5rem 7%;
    background: var(--secondclr);
  }
  .our-prices h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .main-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }
  .inner-prices{
    flex: 1 1 300px;
    padding: 4rem 1rem;
    background: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .inner-prices h2{
    font-size: 25px;
    color: var(--mainclr);
    margin-bottom: 15px;
  }
  .inner-prices h3{
    font-size: 20px;
    color: var(--mainclr);
    margin-bottom: 15px;
  }
  .price-icon i{
    font-size:80px;
    margin-bottom: 25px;
    color: var(--mainclr);
  }
  .inner-prices a{
    padding: 1rem 3rem;
    background: var(--mainclr);
    font-size: 1.5rem;
    color: black;
    border-radius: 15px;
  }
  
  
  
  
  